*{
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
	font-family: Arial, Helvetica, sans-serif;

	/* background-color: #d5e9f4; */
}

.row {
  	width:auto;
	max-width: 1000px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

.row:before,
.row:after {
	content: " ";
  	display: table;
}

.row:after {
    clear: both;
}

.row .row {
    margin-left:-1em;
    margin-right: -1em;
}

.columns {
	float:left;
	padding-left:1em;
	padding-right: 1em;
}

/* Hier folgen die Klassen der Spaltenbreiten */

/* Small */
@media screen and (max-width:600px) {
  .small-1 {width: 100%;}
  .nextcookie {height: 60px; width: 90%}
  .randomcookie {height: 100%;}
}

/* Medium */
@media screen and (min-width:600px) and (max-width:1000px) {
  .medium-1 {width:25%;}
  .medium-2 {width:50%;}
  .medium-3 {width:75%;}
  .medium-4 {width:100%;}
  .nextcookie {height: 100%; width: 80px; margin-left: 3em;}
}

/* Large */
@media screen and (min-width:1000px) {
  .large-1 {width:10%;}
  .large-2 {width:20%;}
  .large-3 {width:30%;}
  .large-4 {width:40%;}
  .large-5 {width:50%;}
  .large-6 {width:60%;}
  .large-7 {width:70%;}
  .large-8 {width:80%;}
  .large-9 {width:90%;}
  .large-10 {width:100%;}
  .nextcookie {height: 100%; width: 80px; margin-left: 3em;}
}

/* body{
	background-color: #d5e9f4;
} */

/* head */
.head{
	position: relative;
}

.head h1{
	position: absolute;
    bottom: 60px;
    left: 220px;
}

.head img{
	display: block;
}

/*@keyframes neuerkeks {
    from {background-color: red;}
    to {background-color: yellow;}
}

.newcookie{
	background-color: red;
	animation-name: neuerkeks;
    animation-duration: 4s;
    animation-delay: 10s;
}*/

/* Main part */

main{
	margin-top: 20px;
	margin-bottom: 50px;
}

h2{
	font-size: 20pt;
}

h3{
	margin-top: 20px;
}

h4, p{
	font-size: 16pt;
}

h4{
	margin-bottom: -10px;
}

a:link, a:visited{
	text-decoration: none;
	color: #f7a035;
}

.buzz_meta_box{
	float: left;
	padding-right: 40px;
}

.buzz_usage{
	font-style: italic;
	padding-bottom: 10px;
}

.buzz_meta{
	display: inline;
	color: grey;
	font-size: 14pt;
}

.nextcookie{
	margin-top: 1em;
	position: absolute;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.randomcookiewrapper{
	height: 100%;
	width: 100%;
	position: absolute;
}

.randomcookie{
	/* box-shadow: 3px 3px 1px #888888;
	border-radius: 12px; */
	background-color: #d8e9ef;
	color: #f7a035;
	height: 70%;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 2;
	text-align: center;
	font-size: 16pt;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.randomcookie:hover {
    background-color: #f7a035; /* Green */
    color: #d8e9ef;
}

/* Footer */
.sense{
	padding-top: 40px;
	max-width: 1000px;
	clear: left;
	margin: 0 auto;
	float: right;
}

.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}